@import '../../styles/_mixin.scss';

.button{
    @include flex;
    padding: 10px 15px;
    background: linear-gradient(90deg, #ff6b6b 0%, #ff4f4f 100%);
    justify-content: center;
    overflow: hidden;
    color: #fff;
    border-radius: 5px;
    transition: 0.5s;
    &:hover{
        
        outline: 2px solid #ff6b6b;
        outline-offset: 2px;
        .icon{
            transition: 0.9s;
            margin-left: 20px;
        }
    }
    .icon{
        width: 20px;
        margin-left: 5px;
    }
}

  

//   .button:hover{
//     padding-right: 24px;
//     padding-left:8px;
//     .icon{
//         width: 20px;
//         position: relative;
//         left: 5px;
//     }
//   }
  
  