@import "../../styles/_mixin.scss";

.block{
    margin-top: 30px;
    min-height: 1900px;
    @media screen and (min-device-width: 375px) and (max-device-width: 425px) {
        height: 2000px;
    }
    @media screen and (min-device-width: 320px) and (max-device-width: 375px) {
        height: 2100px;
    }
}
.main{
    display: flex;
    justify-content: flex-start;
    @media screen and (min-device-width: 320px) and (max-device-width: 1024px){
        flex-direction: column;
    }
    .right{
        width: 380px;
        margin-right: 35px;
        @media screen and (min-device-width: 320px) and (max-device-width: 1024px){
            display: none;
        }
    }
    .left{
        flex: 2;
        @media screen and (min-device-width: 320px) and (max-device-width: 768px){
            flex: 1;
        }
    }
}